name: Gizmo 2 CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - '.github/project.yml'
  pull_request:

jobs:
  build:
    name: "Build with JDK ${{ matrix.distribution }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        distribution: [temurin, semeru]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDKs
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: |
            17
            21
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package -Dno-format -Djava17.home="${{env.JAVA_HOME_17_X64}}${{env.JAVA_HOME_17_ARM64}}" -Djava21.home="${{env.JAVA_HOME_21_X64}}${{env.JAVA_HOME_21_ARM64}}"
